:root {
  --primary: #dbba90;
  --darkTheme: #3b0000;
  --darkThemeHighlight: #b32a2a;
}

body {
  margin: 0;
  font-family: Verdana, sans-serif;
  background: #eee;
}
.App {
  text-align: center;
}


/* AUTHORISATION BAR */
.authBar {
  padding: 6px 0;
  background: linear-gradient(#555, #888 85%, #555);
  color: white;
}
.authButtons {
  margin: 0 auto;
  max-width: 1000px;
  text-align: right;
}
.welcomeUser {
  padding: 10px;
  margin: 0 5px;
  font-weight: bold;
}
.authDetails {
  display: inline-block;
  padding: 10px;
  margin: 0 5px;
  text-decoration: none;
  color: white;
}
.authDetails:hover {
  color: #f3e4c8;
}


/* HEADER */
.shoppeHeader {
  margin-bottom: 20px;
}
.shoppeHeader a {
  text-decoration: none;
}
.shoppeHeader h1 {
  color: var(--darkTheme);
}
.shoppeHeader h2 {
  font-size: 0.8em;
  font-weight: normal;
  font-style: italic;
  margin: 0;
  color: #505050;
}

#headerTitle {
  display: flex;
  justify-content: center;
  background: linear-gradient(to top, var(--primary), #fff0d0 95%, #c1a67a);
  padding: 10px;
  box-shadow: 0 4px 3px #896a54;
}

#headings {
  padding-bottom: 20px;
}

#headerImage {
  margin-right: 40px;
}

#headerImage img {
  width: 140px;
  height: 140px;
}

.navigation {
  padding: 10px;
  margin: 0 10px;
  color: var(--darkTheme);
  display: inline-block;
  min-width: 110px;
}

.navigation:hover {
  color: var(--darkThemeHighlight);
}

.navigation-active {
  color: var(--darkThemeHighlight);
}

.shoppeButton {
  border: 1px solid #5f5f5f;
  background-color: #f1dbc3;
  padding: 5px 10px 2px;
  margin: 10px 0;
  border-radius: 2px;
  font-size: 1.2em;
}
.shoppeButton:hover {
  background-color: #f5ddc1;
}

form.authorisationForm th {
  font-weight: normal;
  font-size: 0.85em;
}



/* PRODUCTS DISPLAY */

#productsDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}



/* REGISTER AND LOGIN */

.authorisationForm input[type="text"], .authorisationForm input[type="password"] {
  padding: 15px;
  border: 1px solid #ccc;
}



@media all and (max-width: 600px) {
  
  #headerImage {
    display: none;
  }
}