body {
  margin: 0;
  font-family: Verdana, sans-serif;
}

.authDetails {
  padding: 10px;
}

header {
  margin: 10px 0;
}

.navigation {
  padding: 10px;
  margin: 0 10px;
  background-color: #555;
  color: white;
  display: inline-block;
  border-radius: 10px;
  min-width: 110px;
  text-decoration: none;
  font-weight: bold;
}

.navigation:hover {
  background-color: #777;
  text-decoration: underline;
}

.navigation-active {
  background-color: #00d;
}

.navigation-active:hover {
  background-color: #04f;
}