body {
  margin: 0;
  font-family: Verdana, sans-serif;
}

.App {
  text-align: center;
}

.shoppeHeader h1 {
  color: brown;
}

.shoppeHeader h2 {
  color: chocolate;
}

.authDetails {
  padding: 10px;
}

header {
  margin: 10px 0;
}

#headerTitle {
  width: 800px;
  height: 150px;
  position: relative;
  margin: 0 auto;
}

#headings {
  width: 400px;
  position: absolute;
  left: 200px;
  padding-bottom: 20px;
}

#headerImage {
  position: absolute;
  left: 20px;
}

#headerImage img {
  width: 140px;
  height: 140px;
}

.navigation {
  padding: 10px;
  margin: 0 10px;
  background-color: #555;
  color: white;
  display: inline-block;
  border-radius: 10px;
  min-width: 110px;
  text-decoration: none;
  font-weight: bold;
}

.navigation:hover {
  background-color: #777;
  text-decoration: underline;
}

.navigation-active {
  background-color: brown;
}

.navigation-active:hover {
  background-color: chocolate;
}


@media all and (max-width: 800px) {
  #headerTitle {
    width: 100%;
    height: auto;
  }
  #headerImage {
    position: static;
    display: block;
    padding: 0;
  }
  #headings {
    position: static;
    width: 100%;
    display: block;
  }
  #headings h1 {
    margin-top: 0;
  }
}