.cart-item {
  max-width: 300px;
  border: 1px solid grey;
  margin: 12px auto;
}

.cart-item-link {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #ccc;
}

.cart-item-link:hover {
  background-color: rgb(170, 249, 255);
}

.cart-item-modify {
  display: block;
  padding: 5px;
}

.cart-item-modify button {
  margin: 0 10px;
}

#shoppeStripe {
  max-width: 600px;
  margin: 30px auto 10px;
}

#buyButton {
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 25px;
  padding: 5px 10px;
  border: 1px solid #333;
  border-radius: 10px;
}

#buyButton:hover {
  background-color: darkorange;
}