.productTile {
    position: relative;
    display: inline-flex;
    width: 300px;
    min-height: 200px;
    margin: 1%;
    padding: 5px;
    border: 1px solid grey;
    text-decoration: none;
    color: #333;
    background: white;
    transition: background 0.5s;
}

.productTile:hover {
  background-color: #eecea4;
}

.productTile .productName {
    box-sizing: border-box;
    padding: 2% 5%;
    font-size: 1.15em;
}

.productTile .productDesc {
    box-sizing: border-box;
    padding: 20px 2%;
    text-align: left;
}

.productTile .productPrice {
    box-sizing: border-box;
    position: absolute;
    bottom: 0px;
    right: 30px;
    font-weight: bold;
}

.productTile img {
  height: 150px;
  width: 100px;
  padding: 5px;
  border: 1px solid #aaa;
  margin: 2px;
  background: white;
}