.productTile {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    min-height: 200px;
    margin: 2%;
    text-decoration: none;
    color: #454545;
    background-color: white;
    transition: background-color 1s;
    border-radius: 1px;
}

.productTile.focusedTile {
  background-color: #ffebd2;
  transition: background-color 0.3s;
}

.productTile .productName {
    box-sizing: border-box;
    padding: 2% 5%;
    text-align: left;
    font-size: 0.8em;
    font-weight: bold;
}

.productTile .productDesc {
    box-sizing: border-box;
    padding: 0 5%;
    text-align: left;
    font-size: 0.8em;
}

.productTile .productPrice {
    box-sizing: border-box;
    padding: 10px 5%;
    text-align: left;
    font-weight: bold;
}

.productTile img {
  height: 300px;
  width: 200px;
  background: white;
}